.root {
  -fx-text-fill: #ffffff;
  -fx-font-family: "Calibri";
  -fx-font-size: 18pt;
}

/*start menu*/

.menu-bar {
  -fx-background-color: #202020;
  -fx-font-size: 10pt;
}

.menu {
  -fx-background-color: transparent;
  -fx-focus-color: #880000;    
}

.menu .label {
  -fx-background-color: transparent;
  -fx-text-fill: #bb0000;
}

.menu:hover {
  -fx-background-color: #880000;
}

.menu:hover .label {
  -fx-text-fill: black;
}

.menu-item {
  -fx-background-color: transparent;
  -fx-focus-color: transparent;
}

.menu-item .label {
  -fx-background-color: transparent;
  -fx-text-fill: #bb0000;
}

.context-menu {
  -fx-background-color: #202020;
}

.context-menu:hover {
  -fx-background-color: #880000;
  -fx-border-color: #202020;
}

.context-menu:hover .label {
  -fx-text-fill: black;
}



/*end menu*/

/*start style for login panel*/
#loginPanel {
  -fx-background-color: #353535;
}

.loginLabel {
  -fx-text-fill: #880000;
  -fx-font-family: "Calibri";
  -fx-font-size: 18pt;
}

#loginError {
  -fx-text-fill: #ee0000;
  -fx-font-family: "Calibri";
  -fx-font-size: 18pt;
  -fx-alignment: center;
}

.loginField {
  -fx-text-fill: #880000;
  -fx-font-family: "Calibri";
  -fx-font-size: 18pt;
  -fx-background-color: #959595;
  -fx-background-radius: 0, 0, 0, 0;
}

.loginField:focused {
  -fx-border-color: #000000;
}

#loginBtn {
  -fx-text-fill: #880000;
  -fx-font-family: "Calibri";
  -fx-font-size: 18pt;
  -fx-background-color: #a5a5a5;
  -fx-background-radius: 0;
  -fx-border-color: #858585;
}

#loginBtn:hover {
  -fx-text-fill: #660000;
  -fx-background-color: #858585;
}
/*end style for login panel*/


/*start style for main panel*/
#mainPanel {
  -fx-background-color: #353535;
}

/* start timer panel*/
#digitPanel {
  -fx-background-color: rgba(0,0,0,0);
}

.digit {
  -fx-fill: #550000;
  -fx-stroke: #550000;
}

.timerBtn {
  -fx-text-fill: #000000;
  -fx-font-family: "Calibri";
  -fx-font-size: 8pt;
  -fx-background-radius:0,0,0,0;
}

#timerStart {
  -fx-background-color: #555555;
}

#timerPause {
  -fx-background-color: #808000;
}

#timerStop {
  -fx-background-color: #880000;
}
/*end timer panel*/

/*start task panel*/
#taskPanel {
  -fx-background-color: rgba(0,0,0,0);
}

#triangleDecoration {
  -fx-fill: #000000;
  -fx-stroke: #000000;
}

#sizeManagerPanel {
  -fx-background-color: #555555;
}

#sizeManagerPanel:hover {
  -fx-background-color: #550000;  
}

#taskList {

  -fx-font-size: 10pt;
  -fx-background-color: #555555;
}

/*scrollbar http://blog.ngopal.com.np/2012/07/11/customize-scrollbar-via-css/*/

#taskList .scroll-bar:vertical {
  -fx-background-color: #555555;
}

#taskList .scroll-bar:vertical .track {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-background-radius: 0em;
  -fx-border-radius: 2em;
}

#taskList .scroll-bar:vertical .increment-button,
#taskList .scroll-bar:vertical .decrement-button {
  -fx-background-color: transparent;
  -fx-background-radius: 0em;
  -fx-padding: 0 10 0 0;
}

#taskList .scroll-bar:vertical .increment-arrow,
#taskList .scroll-bar:vertical .decrement-arrow {
  -fx-shape: " ";
  -fx-padding: 0;
}

#taskList .scroll-bar:vertical .thumb {
  -fx-background-color: #880000;
  -fx-background-insets: 2, 0, 0;
  -fx-background-radius: 2em;
}

#taskList:focused {
  -fx-focus-color: #555555;
}

.list-cell:even {
  -fx-background-color: #656565;
}

.list-cell:odd {
  -fx-background-color: #757575;
}

.list-cell:filled:hover {
  -fx-background-color: #505050;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
  -fx-background-color: linear-gradient(#909090 0%, #555555 25%, #555555 75%, #909090 100%);
}

#simpleTaskPanel {
  -fx-background-color: rgba(0,0,0,0);
  -fx-text-fill: #aa0000;
  -fx-font-family: "Calibri";
  -fx-font-size: 10pt;
}

#taskHeader {
  -fx-background-color: #454545;
  -fx-text-fill: #880000;
  -fx-font-family: "Calibri";
  -fx-font-size: 10pt;
}
/*end task panel*/

/*start timer preferences panel*/

#timerPreferences {
  -fx-background-color: rgba(100, 100, 100, 0.8);
}

.timerPreferencesLabel {

  -fx-text-fill: #bb0000;
  -fx-font-family: "Calibri";
  -fx-font-size: 10pt;
}

.timerPreferencesSlider {
  -fx-background-color: transparent;
  -fx-text-fill: #bb0000;
  -fx-font-family: "Calibri";
  -fx-font-size: 10pt;
}

.timerPreferencesSlider .track {
  -fx-background-color: #aa0000;
}

.timerPreferencesSlider .thumb {
  -fx-background-color: #880000;
  -fx-border-color: #353535;
  -fx-border-radius: 50%;
}

.timerPreferencesBtn {
  -fx-background-radius: 50%;
  -fx-background-color: #252525;
  -fx-text-fill: #880000;
  -fx-font-family: "Calibri";
  -fx-font-size: 10pt;
  -fx-border-radius: 50%;
  -fx-border-color: #770000;
}

/*end timer preferences panel*/


