.root {
  -fx-text-fill: #ffffff;
  -fx-font-family: "Calibri";
  -fx-font-size: 18pt;
}

/*start style for login panel*/
#loginPanel {
  -fx-background-color: #353535;
}

.loginLabel {
  -fx-text-fill: #ffffff;
  -fx-font-family: "Calibri";
  -fx-font-size: 18pt;
}

#loginError {
  -fx-text-fill: #dd0000;
  -fx-font-family: "Calibri";
  -fx-font-size: 18pt;
  -fx-alignment: center;
}

.loginField {
  -fx-text-fill: #000000;
  -fx-font-family: "Calibri";
  -fx-font-size: 18pt;
  -fx-background-color: #a5a5a5;
  -fx-background-radius: 0, 0, 0, 0;
}

.loginField:focused {
  -fx-border-color: #000000;
}

#loginBtn {
  -fx-text-fill: #000000;
  -fx-font-family: "Calibri";
  -fx-font-size: 18pt;
  -fx-background-color: #a5a5a5;
  -fx-background-radius: 0;
  -fx-border-color: #858585;
}

#loginBtn:hover {
  -fx-text-fill: #ffffff;
  -fx-background-color: #858585;
}
/*end style for login panel*/


/*start style for main panel*/
#mainPanel {
  -fx-background-color: #353535;
}


#digitPanel {
  -fx-background-color: rgba(0,0,0,0);
}

.digit {
  -fx-fill: #550000;
  -fx-stroke: #550000;
}

.timerBtn {
  -fx-text-fill: #000000;
  -fx-font-family: "Calibri";
  -fx-font-size: 8pt;
  -fx-background-radius:0,0,0,0;
}

#timerStart {
  -fx-background-color: #555555;
}

#timerPause {
  -fx-background-color: #808000;
}

#timerStop {
  -fx-background-color: #880000;
}
